body {
  text-align: center;
  background-color: #f7f8f7;
}

h1 {
  font-size: 5rem;
  color: #367c94;
  font-family: monospace;
  text-shadow:;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
  background-image:url(./images/crash.png);
}

.a {
  background-image:url(./images/kick.png);
  
}

.s {
  background-image:url(./images/snare.png);
}

.d {
  background-image:url(./images/tom1.png);
}

.j {
  background-image:url(./images/tom2.png);
}

.k {
  background-image:url(./images/tom3.png);
}

.l {
  background-image:url(./images/tom4.png);
}

.set {
  margin:10% AUTO ;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  /* border: 10px solid #404B69; */
  font-size: 5rem;
  font-family: 'Arvo', cursive;
  font-weight: 900;
  color: #1f1b1d;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

footer{
  color:#1f1b1d;
}